@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  text-align: center;
}
span {
  color: blue;
}
.my-class {
  color: firebrick;
}
span#my-id {
  color: teal;
}
span.my-class {
  color: khaki;
}
span:hover {
  color: lightcoral;
}
span[name="flue"] {
  color: yellowgreen;
}
